* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #cbd8db;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60%;
  max-width: 900px; 
  background: rgb(255, 255, 255);
  border: 10px solid #202020;
  border-radius: 20px;
  padding: 50px;
  animation: borderColor 2s linear infinite;
}

@keyframes borderColor {
  0%   { border-color: #000000; }
  33%  { border-color: #4b4b4b; }
  66%  { border-color: #4b4b4b; }
  100% { border-color: #000000; }
}

.t1{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}